/* These first two stylings are an attempt to center the page */
body {
	width: 100%;
	text-align: center;
}
#centered {
	position: relative;
	margin-left: auto;
    margin-right: auto;
    width:1000px;
    text-align: center;
}
/* GENERAL: button styling */
.btn {
	border-radius: 0px;
	background: #CD5030; 
	color: #FFFFFF;
	position: absolute;
	font-family: Avenir-book;
	cursor: pointer;
}
.btn:hover{
	box-shadow:inset 0px 0px 0px 2px #CD5030;
	color: #CD5030;
	background: #FFF; 
}
.btnReverse{
	box-shadow: inset 0px 0px 0px 2px #CD5030;
	background: #FFF;
	color: #CD5030;
}
.btnReverse:hover{
	cursor: pointer;
	background: #CD5030; 
	color: #FFFFFF;
}
.selected {
	border-radius: 0px;
	background: #CD5030; 
	color: #FFFFFF;
	position: absolute;
	font-family: Avenir-book;
	cursor: pointer;
}
/* GENERAL: textbox styling */
.txt {
	position: absolute;
	background: #FFFFFF;
	border: 1px solid #C9B9B9;
	border-radius: 0px;
	font-family: Helvetica-Light;
	font-size: 19px;
	padding: 10px;
}
/* INDEX PAGE: Button placement */
#btnVideo {
	width: 152px;
	height: 44px;
	left: 326px;
	top: 540px;
	font-size: 19px;
	letter-spacing: 3px;
	line-height: 48px;
	
}
#btnSignUp {
	width: 152px;
	height: 44px;
	left: 524px;
	top: 540px;
	font-size: 19px;
	letter-spacing: 3px;
	line-height: 48px;
}
#btnLogin {
	width: 109px;
	height: 36px;
	right: 0px;
	top: 52px;
	font-size: 15px;
	letter-spacing: 2.5px;
	line-height: 37px;
}
/* INDEX PAGE: Text placement */
.header {
	position: absolute;
	width: 100%;
}
#header1 {
	font-family: Avenir-black;
	top: 241px;
	color: #CD5030;
	font-size: 36px;
}
#header2 {
	font-family: Avenir-book;
	top: 336px;
	color: #000;
	font-size: 20px;
}
#header3 {
	font-family: Avenir-black;
	top: 436px;
	color: #000;
	font-size: 20px;
}
#howto {
	font-family: Avenir-black;
	top: 1000px;
	color: #CD5030;
	font-size: 36px;
}
#steps {
	text-align: left;
	font-family: Avenir-book;
	top: 1100px;
	color: #000;
	left: 200px;
	width: 500px;
	font-size: 24px;
}
#quote {
	font-family: Avenir-book;
	top: 1435px;
	color: #CCC;
	font-size: 18px;
}
/* INDEX PAGE: Miscellaneous item placement */
#logo {
	position: absolute;
	width: 233px;
	left: 0px;
	top: 30px;
}
#stethoscope {
	position: absolute;
	width: 858px;
	left: 65px;
	top: 133px;
	margin-bottom: 50px;
	z-index: -5;
}
#icons {
	position: absolute;
	text-align: left;
	top: 1068px;
	left: 723px;
}
/* INDEX PAGE: textbox placement */
#txtEmail {
	width: 154px;
	height: 36px;
	right: 285px;
	top: 52px;
}
#txtPassword {
	width: 154px;
	height: 36px;
	right: 120px;
	top: 52px;
}
/* HOME PAGE */
#homebody {
	position: relative;
	top: 70px;
	width: 100%;
	font-family:Helvetica-light;
}
#btnAddPatient {
	position: relative;
  width: 190px;
  height: 44px;
  right: 0px;
  font-size: 19px;
  letter-spacing: 3px;
  line-height: 48px;
  float: right;

}
.row {
	padding-top: 7px;
	text-align: left;
	padding-bottom: 26px;
	cursor: pointer;
	width: 100%;
}
#headerrow {
	background-color: #CD5030;
	font-family: Helvetica;
	font-weight: bold;
	cursor: auto;
}
#txtSearch {
	  width: 456px;
  height: 44px;
  position: relative;
  float: left;
}
#navBar {
	padding-top:5px;
	text-align: center;
  	font-family: Avenir-book;
  	top: 44px;
  	position: relative;
}
.navItem {
	text-decoration: underline;
	cursor: pointer;
}
/* HOME PAGE: the colors of the rows */
.color1 {
	background-color: #E2E5E9;
}
.color2 {
	background-color: #FEE8C3;
}
.patientCell { /* I made these two different things in case we ever need to change them later */
	width: 25%;
	float:left;
	text-align: center;
}
.providerCell { /* I made these two different things in case we ever need to change them later */
	width: 25%;
	float: left;
	text-align: center;
}
.providerRow {
	cursor: auto;
}
#providerTitle {
  font-family: Avenir-black;
  font-size: 24px;
  margin-bottom: 5px;
}

#deleteName {
	font-family: Avenir-black;
	text-decoration: underline;
}
#deleteMessage { 
	font-family: Avenir;
}
#logout {
	position: absolute;
	right: 0px;
	top: 135px;
	top: 40px;
	font-family: Avenir-black;
	text-decoration: underline;
	font-size: 20px;
	color:black;
}
#dropdownpic {
	width: 100%;
}
/* HOME PAGE: Drop column styling */
.tableDropCol {
	width: 30%;
	height: 90%;
	float: left;
	padding:15px;
}
.tableDrop {
	height: 230px;
}
.lblNoteTitle {
  height: 38px;
  width: 275px;
  background: beige;
  line-height: 38px;
  margin-left: auto;
  margin-right: auto;
}
.lblNoteText {
  background: white;
  width: 235px;
  height: 120px;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.history {
	font-size: 12px;
	margin-bottom: 5px;
}
.historyDate {
	float: left;
  	text-align: right;
  	width: 20%;
  	padding-right: 9px;
}
.stopReminders {
    top: 15px;
    font-size: 12px;
  padding: 5px;
  background: #E4B92A;
  letter-spacing: 2px;
  width: 140px;
  cursor: pointer;
  margin: auto;
  position: relative;
}
.deleteRecord {
	  top: 35px;
  float: right;
  text-decoration: underline;
  cursor: pointer;
  font-size: 13px;
  position: relative;
}

.historyMessage {
	float: left;
	width: 75%;
}
.reminderText {
	position: relative;
	top: 5px;
}
.reminderTimesContainer {
	position: relative;
	top: 15px;
}
.reminderTimes {
  font-family: Helvetica-Light;
  width: 96px;
  font-size: 16px;
  margin-bottom: 9px;
  padding-left: 10px;
}
.reminderTimesOpen{
	width: 96px;
  	font-size: 17px;
  	font-family: Helvetica-Light;
  	text-align: center;
}
/* HOME PAGE: mini calendar */
.calendar-day {
	  width: 34px;
  text-align: center;
  background: white;
  height: 24px;
}
.calendar-month {
	background: beige;
	height:38px;
	font-family: Helvetica-Light;
	text-align: center;
}
.calendar-table {
	background: beige;
	margin-left: auto;
 	margin-right: auto;
}
.calendar-arrow {
	text-align: center;
	cursor: pointer;
}
/* MODAL: general styling */
.formelement {
	text-align: left;
	font-family: Avenir-black;
	margin-bottom:15px;
	color: #000;
}
.formlefthalf {
	width: 47%;
	float:left;
}
.formrighthalf {
	width:47%;
	float:right;
}
.formbox {
	font-size: 18px;
	height: 34px;
	width: 100%;
	font-family: Helvetica-Light;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
}
.mdlTitle {
	font-family: Avenir-black;
	font-size: 36px;
	color: #000;
	margin-bottom:15px;
}
.btnSubmitModal {
	text-align: center;
	position:relative;
	margin-left:auto; margin-right:auto;
	width: 152px;
	height:45px;
	font-size: 19px;
	letter-spacing: 4px;
	line-height: 45px;	
	margin-top: 20px;
}
/* MODAL-SIGNUP: group creation styling */
#btnCreateGroup {
	position: relative;
	float:left;
	left: 30px;
	width: 193px;
	line-height: 40px;
}
#btnJoinGroup{
	position: relative;
	float:left;
	left: 64px;
	width: 193px;
	line-height: 40px;
}
#groupDynamic {
	text-align: center;
	margin-top:5px;
	font-size: 17px;
	font-family: Avenir-LightOblique;
	color: #ddd;
}
#groupDrop {
	margin-top:70px;
}
#titleName {
	text-align: center;
  position: relative;
  top: 40px;
  left: 20px;
  font-family: Avenir-black;
  font-size: 24px;
}
#titleCode {
	text-align: center;
  	font-family: Avenir-LightOblique;
  	color: #bbb;
  	top: 44px;
  	position: relative;
}

/* MODAL-ADD: reminder styling */
.reminderBox {
	width: 30%;
}
.txtreminder {
	width: 100%;
	background-color: #ddd;
}
.reminderTimeDiv {
	width:100%; 
	text-align:center;
	margin-top:10px;
	font-family: Avenir-book;
}
.reminderOn {
	background-color: #fff;
}
#txtRemind1 {
	float:left;
}
#txtRemind2 {
	margin-left:auto; margin-right:auto;
}
#txtRemind3 {
	float:right;
}




