body {
	width: 98%;
	text-align: center;
}
#centered {
	position: relative;
	margin-left: auto;
    margin-right: auto;
    width:1000px;
     
    text-align: center;
}
#background {
	width:1200px;
	position:relative;
	left: -80px;
}
.btn {
	border-radius: 0px;
	background: #CD5030; 
	color: #FFFFFF;
	position: absolute;
	font-family: Avenir-book;
}

#btnLogin {
	width: 109px;
	height: 36px;
	right: 0px;
	top: 52px;
	font-size: 15px;
	letter-spacing: 2.5px;
	line-height: 37px;
}
.btn:hover{
	cursor: pointer;
	box-shadow:inset 0px 0px 0px 2px #CD5030;
	color: #CD5030;
	background: #FFF; 
}
#btnVideo {
	width: 152px;
	height: 44px;
	left: 335px;
	top: 540px;
	font-size: 19px;
	letter-spacing: 3px;
	line-height: 48px;
	box-shadow: inset 0px 0px 0px 2px #CD5030;
	background: #FFF;
	color: #CD5030;
}
#btnVideo:hover {
	cursor: pointer;
	background: #CD5030; 
	color: #FFFFFF;
}
#btnSignUp {
	width: 152px;
	height: 44px;
	left: 535px;
	top: 540px;
	font-size: 19px;
	letter-spacing: 3px;
	line-height: 48px;
}
.txt {
	position: absolute;
	background: #FFFFFF;
	border: 1px solid #C9B9B9;
	border-radius: 0px;
	font-family: Avenir-book;
	font-size: 19px;
	padding: 10px;
}
#txtEmail {
	width: 154px;
	height: 36px;
	right: 285px;
	top: 52px;
}
#txtPassword {
	width: 154px;
	height: 36px;
	right: 120px;
	top: 52px;
}
#logo {
	position: absolute;
	width: 233px;
	left: 13px;
	right: 450px;
	top: 21px;
}
#stethoscope {
	position: absolute;
	width: 858px;
	left: 65px;
	top: 133px;
	z-index: -5;
}
.header {
	position: absolute;
	width: 100%;
}
#header1 {
	font-family: Avenir-black;
	top: 241px;
	color: #CD5030;
	font-size: 36px;
}
#header2 {
	font-family: Avenir-book;
	top: 336px;
	color: #000;
	font-size: 20px;
}
#header3 {
	font-family: Avenir-black;
	top: 436px;
	color: #000;
	font-size: 20px;
}
#howto {
	font-family: Avenir-black;
	top: 1000px;
	color: #CD5030;
	font-size: 36px;
}
#steps {
	text-align: left;
	font-family: Avenir-book;
	top: 1100px;
	color: #000;
	left: 200px;
	width: 500px;
	font-size: 24px;
}
#icons {
	position: absolute;
	text-align: left;
	top: 1068px;
	left: 723px;
}
#quote {
	font-family: Avenir-book; 
	top: 1435px;
	color: #D6D6D6;
	font-size: 18px;
}