body {
	width: 98%;
	text-align: center;
}
#background {
	position: relative;
	margin-left: auto;
    margin-right: auto;
    width:90%;
     
    text-align: center;
}
.btn {
	border-radius: 2px;
	background: #CD5030; 
	color: #FFFFFF;
	position: absolute;
	font-family: Avenir-book;/*Avenir-book*/
}
.btn:hover{
	cursor: pointer;
	box-shadow:inset 0px 0px 0px 2px #CD5030;
	color: #CD5030;
	background: #FFF; 
}
#btnLogin {
	width: 7%; /*width: 109px;*/
	height: 4.2%; /*height: 36px;*/
	right: 9.5%; /*131px*/
	top: 6.5%; /*top: 52px;*/
	font-size: 2vmin; /*font-size: 15px*/
	letter-spacing: 2.5px;
	line-height: 4.5vmin; /*line-height: 37px*/
	
	/*width: 7%;
	height: 4%;
	right: 9%;
	top: 6%;*/
}
#btnVideo {
	width: 11%; /*width: 152px;*/
	height: 5.8%; /*height: 44px;*/
	left: 38%; /*left: 574px;*/
	top: 70%; /*top: 576px;*/
	font-size: 2.5vmin; /*font-size: 19px;*/
	letter-spacing: 3px;
	line-height: 6vmin; /*line-height: 48px;*/
	box-shadow: inset 0px 0px 0px 2px #CD5030;
	background: #FFF;
	color: #CD5030;
}
#btnVideo:hover{
	cursor: pointer;
	border-radius: 2px;
	background: #CD5030; 
	color: #FFFFFF;
}
#btnSignUp {
	width: 11%; /*width: 152px;*/
	height: 5.8%; /*height: 44px;*/
	left: 53%; /*top: 576px;*/
	top: 70%; /*top: 576px;*/
	font-size: 2.5vmin; /*font-size: 19px;*/
	letter-spacing: 3px;
	line-height: 6vmin; /*line-height: 48px;*/
}
.txt {
	position: absolute;
	background: #FFFFFF;
	border: 1px solid #C9B9B9;
	border-radius: 2px;
	font-family: Avenir-book;/*Avenir-book*/
	padding: 1vmin;
	font-size: 2.2vmin; /*font-size: 19px;*/
	/*line-height: 4.4vmin; /*line-height: 27px;*/
}
#txtPassword {
	width: 10.5%; /*width: 154;*/
	height: 4.2%; /*height: 36px;*/
	right: 18%; /*258px*/
	top: 6.5%; /*top: 52px;*/
}
#txtEmail {
	width: 10.5%; /*width: 154;*/
	height: 4.2%; /*height: 36px;*/
	right: 29.5%; /*right: 427px;*/
	top: 6.5%; /*top: 52px;*/
}
#logo {
	position: absolute;
	width: 150px;
	left: 30px;
	right: 450px;
	top: 45px;
}
